/* 我的开发宝-交易记录 */
/* 内容 */
.dny_content{
    /* padding-top: 64px; */
    padding-bottom: 56px;
    min-height: 600px;
}
.dny_content .dny_cont{
    height: 100%;
    max-width: 980px;
    margin: auto;
}
.dny_breadcrumb-wrap{
    display: block;
    width: 100%;
    padding: 35px 0 21px;
}
.dny_clearfix {
    zoom: 1;
}
.dny_breadcrumbs {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.dny_breadcrumbs li {
    float: left;
    font-size: 1.5rem;
    line-height: 1.4rem;
    color: #474b48;
    padding-right: 1rem;
}
.dny_breadcrumbs li a {
    color: #2d3238;
    text-decoration: none;
}
.dny_breadcrumbs li :after {
    position: relative;
    right: -.5rem;
    content: "\2192";
    font-size: 1rem;
    color: #979fa8;
}
.dny_breadcrumbs li~li {
    color: #2d3238;
    opacity: .5;
}


.dny_flex-direction-row {
    -ms-box-orient: vertical;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: stretch;
}
.dny_flex-direction-column, .dny_flex-direction-row {
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch;
    align-content: stretch;
}
.dny_wrapper{
    width: 100%;
    margin: 10px auto;
}

/* 左边菜单部分 */
.dny_menu{
    padding: 0;
}
.dny_side-nav{
    margin: 0;
    left: 0;
}
.dny_side-nav ul {
    padding: 0;
    margin: 0;
    border-radius: 4px;
    box-shadow: 0 -1px 0 0 #e7e7e7, inset 0 1px 0 0 #fff, 0 1px 0 0 #e6e6e6, 1px 0 0 0 #e6e6e6, -1px 0 0 0 #e6e6e6;
    list-style: none;
}
.dny_side-nav ul .dny_side-nav-header{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #e6ebf0;
    padding: 7px 0 7px 21px;
    box-shadow: inset 0 1px 0 0 #fff, 0 1px 0 0 #e6e6e6, 1px 0 0 0 #e6e6e6, -1px 0 0 0 #e6e6e6;
}
.dny_side-nav ul>li {
    position: relative;
    margin: 0;
    box-sizing: border-box;
}
.dny_side-nav ul .dny_side-nav-item{
    background-color: #f0f2f5;
    height: 48px;
    box-shadow: 0 -1px 0 0 #e6e6e6, inset 0 1px 0 0 #fff, 0 2px 0 0 #e6e6e6, 1px 0 0 0 #e6e6e6, -1px 0 0 0 #e6e6e6;
}
.dny_side-nav ul .dny_side-nav-item .dny_activing {
    background-color: #fff;
}
.dny_side-nav ul>li .dny_nav-link-2 {
    display: block;
    padding: 14px 0 14px 50px;
    color: #979fa8;
    line-height: 18px;
    text-decoration: none;
    outline: none;
    font-weight: 500;
}
.dny_side-nav ul>li .dny_nav-link-2 .dny_icon {
    position: absolute;
    left: 20px;
    top: 16px;
}
/* 右边部分 */
.dny_content-right{
    margin-bottom: 40px;
    padding-bottom: 30px;
    background: #fff;
    min-height: 40rem;
    box-shadow: 0 1px 2px hsla(165,9%,74%,.95);
    font-size: 14px;
    color: #333;
    border-radius: 4px;
}
.dny_content-right .dny_box{
    margin: 0 auto;
    padding: 30px 0;
}
.dny_tip.dny_shadow{
    box-shadow: 0 1px 2px 0 rgba(31,45,61,.1);
}
.dny_tip.dny_red{
    color: #e84d60;
}
.dny_tip {
    font-size: 14px;
    background: #fff6de;
    color: #979fa8;
    padding: .6rem 2.5rem .5rem 1.5rem;
    position: relative;
    margin-bottom: 1rem;
    border-radius: 4px;
}
.dny_header-jilu {
    padding: 1.5rem 0 .5rem;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid hsla(212,9%,63%,.2);
    color: #2d3238;
}
.dny_records{
    box-sizing: border-box;
    padding: 1.5rem;
    border-bottom: 1px solid hsla(212,9%,63%,.2);
    font-size: 14px;
}
.dny_filters {
    list-style: none;
    font-size: 14px;
}
.dny_filters .dny_filter {
    position: relative;
    margin: 0 0 1.5em;
    color: #2d3238;
}
.dny_filters .dny_filter em {
    font-style: normal;
}
.dny_filters .dny_filter-title {
    position: absolute;
    top: 50%;
    margin-top: -.8em;
}
.dny_filters .dny_filter-content{
    margin-left: 6em;
}
.dny_selector{
    position: relative;
    width: 140px;
    height: 35px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #cad3de;
    border-radius: .4rem;
    background: #edf1f5;
    overflow: hidden;
}
label {
    cursor: default;
}
.dny_selector select {
    height: 100%;
    width: 100%;
    border: none;
    background: url(../img/dny_xiala.png) no-repeat 90% .8rem;
    font-size: inherit;
    text-overflow: ellipsis;
    text-indent: 1rem;
    white-space: nowrap;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 2px;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.dny_checkbox{
    display: inline-block;
    vertical-align: middle;
}
.dny_check-box{
    width: 6rem;
}
.dny_check-box, .dny_sheets .dny_tooltip{
    display: inline-block;
}
.dny_checkbox .dny_check-label{
    cursor: pointer;
    outline: none;
}
.dny_checkbox .dny_check-label input {
    display: none;
}
[type=checkbox]{
    box-sizing: border-box;
    padding: 0;
}
button, input {
    overflow: visible;
}
.dny_checkbox .dny_check-icon {
    position: relative;
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    padding: 0;
    margin-right: .5rem;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #cad3de;
    border-radius: .2rem;
}
.dny_sheets{
    width: 100%;
    color: #474b48;
    border-top: 1px solid hsla(212,9%,63%,.2);
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.dny_sheets .dny_align-left {
    text-align: left;
}
.dny_sheets th {
    height: 3.4rem;
    font-weight: 400;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
.dny_sheets .dny_align-right {
    text-align: right;
}