/* 我的开发宝-交易密码 */
/* 内容 */
.dny_content{
    /* padding-top: 64px; */
    /* padding-bottom: 56px; */
    /* min-height: 600px; */
}
.dny_content .dny_cont{
    height: 100%;
    max-width: 980px;
    margin: auto;
}
.dny_breadcrumb-wrap{
    display: block;
    width: 100%;
    padding: 35px 0 21px;
}
.dny_clearfix {
    zoom: 1;
}
.dny_breadcrumbs {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.dny_breadcrumbs li {
    float: left;
    font-size: 1.5rem;
    line-height: 1.4rem;
    color: #474b48;
    padding-right: 1rem;
}
.dny_breadcrumbs li a {
    color: #2d3238;
    text-decoration: none;
}
.dny_breadcrumbs li :after {
    position: relative;
    right: -.5rem;
    content: "\2192";
    font-size: 1rem;
    color: #979fa8;
}
.dny_breadcrumbs li~li {
    color: #2d3238;
    opacity: .5;
}


.dny_flex-direction-row {
    -ms-box-orient: vertical;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: stretch;
}
.dny_flex-direction-column, .dny_flex-direction-row {
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch;
    align-content: stretch;
}
.dny_wrapper{
    width: 100%;
    margin: 10px auto;
}

/* 左边菜单部分 */
.dny_menu{
    padding: 0;
}
.dny_side-nav{
    margin: 0;
    left: 0;
}
.dny_side-nav ul {
    padding: 0;
    margin: 0;
    border-radius: 4px;
    box-shadow: 0 -1px 0 0 #e7e7e7, inset 0 1px 0 0 #fff, 0 1px 0 0 #e6e6e6, 1px 0 0 0 #e6e6e6, -1px 0 0 0 #e6e6e6;
    list-style: none;
}
.dny_side-nav ul .dny_side-nav-header{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #e6ebf0;
    padding: 7px 0 7px 21px;
    box-shadow: inset 0 1px 0 0 #fff, 0 1px 0 0 #e6e6e6, 1px 0 0 0 #e6e6e6, -1px 0 0 0 #e6e6e6;
}
.dny_side-nav ul>li {
    position: relative;
    margin: 0;
    box-sizing: border-box;
}
.dny_side-nav ul .dny_side-nav-item{
    background-color: #f0f2f5;
    height: 48px;
    box-shadow: 0 -1px 0 0 #e6e6e6, inset 0 1px 0 0 #fff, 0 2px 0 0 #e6e6e6, 1px 0 0 0 #e6e6e6, -1px 0 0 0 #e6e6e6;
}
.dny_side-nav ul .dny_side-nav-item .dny_activing {
    background-color: #fff;
}
.dny_side-nav ul>li .dny_nav-link-2 {
    display: block;
    padding: 14px 0 14px 50px;
    color: #979fa8;
    line-height: 18px;
    text-decoration: none;
    outline: none;
    font-weight: 500;
}
.dny_side-nav ul>li .dny_nav-link-2 .dny_icon {
    position: absolute;
    left: 20px;
    top: 16px;
}
/* 右边部分 */
.dny_content-right{
    margin-bottom: 40px;
    padding-bottom: 30px;
    background: #fff;
    min-height: 40rem;
    box-shadow: 0 1px 2px hsla(165,9%,74%,.95);
    font-size: 14px;
    color: #333;
    border-radius: 4px;
}
.dny_content-right .dny_box{
    margin: 0 auto;
    padding: 30px 0;
}
.dny_tip.dny_shadow{
    box-shadow: 0 1px 2px 0 rgba(31,45,61,.1);
}
.dny_tip.dny_red{
    color: #e84d60;
}
.dny_tip {
    font-size: 14px;
    background: #fff6de;
    color: #979fa8;
    padding: .6rem 2.5rem .5rem 1.5rem;
    position: relative;
    margin-bottom: 1rem;
    border-radius: 4px;
}

.dny_account-notice-box{
    margin-bottom: 3rem;
}
.dny_account-notice-box.dny_important .dny_box-content{
    border: 1px solid rgba(230,30,11,.5);
    box-shadow: 0 0 5px 0 rgba(230,30,11,.5);
}
.dny_account-notice-box .dny_box-content{
    background-color: rgba(221,227,235,.2);
    color: #2d3238;
    padding: 1rem 1.5rem;
    border-radius: 5px;
}
.dny_account-notice-box .dny_box-content .dny_title{
    font-size: 20px;
    padding: .5rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid hsla(212,9%,63%,.2);
}
.dny_account-notice-box .dny_box-content .dny_contentTip {
    font-size: 14px;
    color: #979fa8;
}
.dny_password-box h2 {
    color: #474b48;
    /* font-size: 1.7rem; */
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 .7rem;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.dny_password-box hr {
    margin: 0 0 2rem;
    border-color: hsla(212,9%,63%,.2);
}
.dny_hr {
    margin: 4rem 0;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #979fa8;
    padding: 0;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.dny_password-box .dny_body span {
    display: block;
    color: gray;
}
.dny_password-box .dny_body span a:hover{
    color: #65b8f3;
}
form {
    display: block;
    margin-top: 0em;
}
.dny_password-form {
    margin-top: 40px;
}
.dny_password-form div.dny_item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 1rem 0;
}
.dny_password-form div.dny_item>label {
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    color: #474b48;
    line-height: 3rem;
}
label {
    cursor: default;
}
.dny_password-form div.dny_item>div.dny_input-box {
    -ms-flex-positive: 3;
    flex-grow: 3;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    margin-left: 1.5rem;
}
.dny_password-form div.dny_item>div.dny_input-box span.dny_phone-number {
    line-height: 3rem;
    color: gray!important;
}
.dny_password-form div.dny_item>div.dny_input-box>div.dny_input {
    border-radius: .4rem;
    border: 1px solid #cad3de;
    background-color: #edf1f5;
    font-size: 1rem;
    padding: 0 .6rem;
    display: inline-block;
    width: 16rem;
}
.dny_password-form div.dny_item>div.dny_input-box>div.dny_input div[contenteditable=true], .dny_password-form div.dny_item>div.dny_input-box>div.dny_input input {
    padding: .8rem 0;
    outline: none;
    border: none;
    border-radius: .4rem;
    width: 100%;
    background-color: #edf1f5;
    color: #555;
    font-size: 1rem;
    min-height: 1.5rem;
}
.dny_password-form div.dny_item>div.dny_input-box>.dny_verify-input {
    display: inline-block;
    background-color: #edf1f5;
}
.dny_password-form div.dny_item>div.dny_input-box>.dny_verify-input>div {
    background-color: #edf1f5;
}
.dny_ui-message{
    border-radius: .4rem;
    border: 1px solid #cad3de;
    background-color: transparent;
    font-size: 1rem;
    position: relative;
}
.dny_password-form div.dny_item>div.dny_input-box>.dny_verify-input>div input {
    background-color: #edf1f5;
    color: #555;
    font-size: 1rem;
}
.dny_verify-input{
    padding: 0px;
}
/* 错误提示 */
.dny_error-box {
    /* width: 200px; */
    color: #a52f3c;
    height: 40px;
    line-height: 40px;
    display: none;
}
.dny_ui-message input {
    padding: .8rem .6rem;
    outline: none!important;
    border: none!important;
    border-radius: .4rem;
    background: transparent!important;
    width: 100%;
    min-width: 16rem;
}
button, input {
    overflow: visible;
}
.dny_ui-message .dny_ui-button {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: .8rem;
    bottom: 0;
}
.dny_ui-message .dny_ui-button>div {
    display: table;
    height: 100%;
}
.dny_ui-message .dny_ui-button>div>div {
    display: table-cell;
    vertical-align: middle;
}
.dny_password-form div.dny_item>div.dny_input-box span {
    color: #fff;
}
.dny_ui-message .dny_ui-button span {
    font-size: .9rem;
    background-color: #2d3238;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.34);
    color: #fff;
    padding: .2rem .8rem;
    border-radius: 2.8rem;
}
.dny_password-form div.dny_item>button {
    font-size: 1.5rem;
    width: 20rem;
    height: 3.8rem;
    line-height: 2.1rem;
    margin: 4rem auto 0;
    color: #fff;
    float: none;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
    border: 0;
    box-shadow: 0 3px 3px rgba(45,51,56,.2);
    background-color: #4289db;
    outline: none;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

[type=submit]{
    -webkit-appearance: button;
}
