@media screen and (min-width:1200px) {
    
 }
@media screen and (min-width:992px) and (max-width: 1199px) {
    .wgp_webfour_pone{
        visibility: hidden;
      }
      .wgp_webfour_ptwo{
          visibility: hidden;
      }
    .wgp_webthree_box video{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    left: 0;
    top:0;
}
.wgp_webthree_inlinebox{
    visibility: hidden;
}
.wgpwebthreeinline{
    display: none;
}

}
@media screen and (min-width: 768px) and (max-width:991px ){
    .wgp_uls{
        visibility: hidden;
    }
    .wgp_webfour_pone{
        visibility: hidden;
      }
      .wgp_webfour_ptwo{
          visibility: hidden;
      }
   .wgp_webthree_box video{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    left: 0;
    top:0;
}
.wgpwebthreeinline{
    display: none;
}
.wgp_webtwo_btn{
    visibility: hidden;


}
.wgp_webthree_inlinebox{
    visibility: hidden;
}
 }
@media screen and (max-width: 768px){
    .wgp_uls{
        visibility: hidden;
    }
    .wgp_webfour_pone{
      visibility: hidden;
    }
    .wgp_webfour_ptwo{
        visibility: hidden;
    }
   .wgp_webtwo_btn{
       width: 200px;
       height: 30px;
       margin: auto;
       
   }
   .wgp_txt li{
       width: 100px;
   }
   .wgp_webthree_box video{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    left: 0;
    top:0;
}
.wgpwebthreeinline{
    display: none;
}
.wgp_webtwo_btn{
    visibility: hidden;


}
.wgp_webthree_inlinebox{
    visibility: hidden;
}
.wgp_webthree_txt{
    visibility: hidden;
}
}





.wgp_web_two{
    width: 100%;
    height: 100%;
    background: #222325;
    position: relative;
}
.wgp_webtwo_box{
    width: 100%;
    height: 100%;
}
.wgp_web_twouls{
    width: 100%;
    height: 20%;
}
.wgp_web_twouls li img{
    display: block;
}
.wgp_web_twouls li{
    width: 20%;
    position: relative;
    float: left;
}
/* .wgp_web_twouls li img{
    
} */
.wgp_web_twolione{
   width: 100%; 
}
.wgp_web_twomove{
    margin: 0;
}
.wgp_webtwo_btn{
    margin-top: 8%;
}
.wgp_webtwo_btn button{
    width: 120px;
    height: 40px;
    border-radius: 100px;
    /* border:2px solid #0597c4; */
    /* margin-top: 100px; */
    background: none;
    color: #fff;
    font-size: 16px;
    text-align: center;
    outline: none;
}
.wgp_webtwo_btnone{
    width: 120px;
    height: 40px;
    border-radius: 100px;
    border:2px solid #0597c4;
    /* margin-top: 100px; */
    background: none;
    color: #fff;
    font-size: 16px;
    text-align: center;
    outline: none;
}
.wgp_web_twouls li p{
    width: 100%;
    background: #000;
    font-size: 1%;
    color: #fff;
    line-height: 55px;
    position: absolute;
    left: 0;
    top: 100%;
}
.wgp_masking{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.wgp_webtwo_ball{
    width: 25%;
    height: 40%;
    background-image: url(../img/wgpyuanquan.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: -25%;
    top: 27%;
}
.wgp_webtwo_glass{
    width: 14%;
    height: 20%;
    background-image:url(../img/wgpfangdajing.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    right:  -14%;
    top: 37%;

    
}
.wgpnone{
    display: none;
}
/* .wgpmovetwo{
    position: absolute;
    left:200px;
} */
.wgp_web_twouls li{
    width: 20%;
    overflow: hidden;
}
