body ,html, a, p ,div, h1 ,h2, h3, h4 ,h5 ,h6 ,img,input ,button ,ul ,ol ,li ,form ,span, i{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
    vertical-align: baseline;
}
body{
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    background-color: #f9f9f9;
    font-family: "微软雅黑";
    vertical-align: baseline;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.wgp_wrap{
    width: 1240px;
    height: auto;
    margin: auto;
}
img{
    border: none;
}
input{
    outline: none;
}
button{
    border: none;
}
.fl{
    float: left;
}
.fr{
    float:right;
}
.wgpclear{
    clear: both;
}

.navbar {
    background-color: rgba(0, 0, 0 ,0.4) ;
    border: none;
}

.navbar-default  .container-fluid .fr .wgp_txt li a{
    color: #fff;
    font-size: 16px;
}
.wgp_txt{
    margin-top: 15px;
}
.wgp_txt li{
    padding-left: 10px;
}
.navbar-toggle{
    margin-top: 25px;
}
.wgp_fixed{
    position:fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 666;
}
.wgp_back_one{
    width: 100%;
    height: 100%;
    background: rgb(10, 144, 226) ;
    overflow: hidden;
    display: none;
}
.wgp_back_one img{
    display: block;
}
.wgp_img_two{
    margin:auto;
    margin-top:100px;
    /* display: none; */
    /* display: block; */
}
.wgp_img_three{
  
    margin:auto;
    margin-top:10px;
    /* display: none; */
    /* display: block; */
}
.wgp_img_four{
    
    margin:auto;
    /* display: none; */
    /* display: block; */
}
.wgp_back_two{
    width: 100%;
    height: 100%;
    background-image: url(../img/bj_02.jpg);
    background-size:cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}
 .wgp_img_five{
    width: 400px;
    height: 500px;
    /* display: none; */
    position: absolute;
    left: 5%;
    top: 5%;
    display: none;
    
    
}
.wgp_img_six{
    width:600px;
    height:500px;
    /* display: none; */
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
   
}
