p,h1,h2,h3,h4,h5,h6,ul,li,ol,div,button{
	padding: 0;
	margin: 0;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.juzhong{
	margin: 0 auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}


/* 修改滚动条 */
::-webkit-scrollbar{
	width: 8px;
}
::-webkit-scrollbar-thumb{
	background-color: #009ACD
}
::-webkit-scrollbar-thumb:hover{
	background: #3d3d3d;
}


/* 顶部导航 */
.wcy_nav{
	width: 100%;
	height: 84px;
	background-color: rgba(0, 0, 0, 0);
	border-bottom: none;
	position: absolute;
	top: 0;
	border: none;
	z-index: 99;
}
.wcy_nav_menu{
	float: right;
}
.navbar{
	margin-bottom: 0;
}
.navbar-nav{
	margin-top: 25px;
}
.wcy_nav .navbar-nav li a{
	font-size: 16px;
	color: #fff;
	display: block;
	height: 34px;
	width: 93px;
	text-align: center;
	padding: 0;
	line-height: 34px;
}
.wcy_nav .navbar-nav li a:hover{
	color: #fff;
	background: url(../img/wcy_move_nav_hua.png) center no-repeat;
}
.navbar-collapse{
	border: none
}
.navbar-toggle{
	margin-top: 25px;
	margin-right: 25px;
}
.wcy_activ{
	background: url(../img/wcy_move_nav_hua.png) center no-repeat;
}


/* 背景图 */
.wcy_bg{
	width: 100%;
	height: 450px;
	background: url(../img/wcy_move_nav_bg.jpg) center;
}
.wcy_bg_box{
	position: relative;
	top: 186px;
	text-align: center
}
.wcy_bg_box2{
	position: relative;
	top: 220px;
	text-align: center;
	font-size: 16px;
	color: #fff;
}


/* 套餐选择 */
/* 左侧套餐选择 */
.wcy_combo{
	position: relative;
	top: -120px;
	margin-bottom: -120px;
	z-index: 6;
}
.wcy_combo_box{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.wcy_combo_select{
	width: 160px;
	padding-top: 25px;
	position: relative;
}
.wcy_tck1{
	width: 160px;
	height: 95px;
	background-color: #0287af;
	text-align: center;
	font-size: 18px;
	line-height: 95px;
	color: #fff;
}
.wcy_taock_one,.wcy_taock_two,.wcy_taock_three,.wcy_taock_four{
	text-align: right;
	padding: 20px 25px 0;
	border-left: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	font-size: 16px;
	color: #333;
}
.wcy_taock_one{
	height: 235px;
}
.wcy_taock_two{
	height: 61px;
}
.wcy_taock_three{
	height: 187px;
}
.wcy_taock_three b{
	display: block;
	font-weight: normal;
	color: #0098c5;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
}
.wcy_taock_four{
	height: 117px;
}
/* 右侧套餐选项 */
.wcy_comco_option{
	width: 220px;
	position: relative;
}
.wcy_tck2{
	background-color: #1c9ec4;
}
.tl{
	text-align: left;
	font-size: 12px;
	line-height: 24px;
}
.color_one{
	background-color: #eef9fc;
}
.wcy_taock_three span{
	display: block;
	height: 27px;
}
.color_one b,.tec b{
	text-align: center;
}
.wcy_taock_four span{
	display: block;
	width: 128px;
	height: 37px;
	background: url(../img/wcy_move_lxkf.png);
	margin: 19px auto  0;
	overflow: hidden;
}
.wcy_taock_four_box{
	display: block;
	width: 128px;
	height: 37px;
	transition: 0.5s;
}
.wcy_taock_four span b{
	display: block;
	font-weight: normal;
	color: #0086ae;
	width: 128px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	position: relative;
	cursor: default;
	transition: 0.5s;
}
.wcy_taock_four_box:hover{
	transform: translate(0,-37px);
	transition: 0.5s;
}
.color_two{
	background-color: #58b9d6;
}
.color_three{
	background-color: #ceb654;
}
.color_four{
	background-color: #f7f3e4;
}
.color_five{
	background-color: #c69b33;
}
.color_six{
	background-color: #b57a0b;
}
.borr{
	border-right: 1px solid #e7e7e7;
}
@media screen and (max-width:768px){
	.wcy_comco_option{
		width: 50%;
	}
	.wcy_tck2>img{
		width: 100%;
	}
	.wcy_combo_select{
		width: 100%;
	}
	.wcy_tck1{
		margin: 0 auto;
	}
}


/* 一站全包 */
.baok{
	margin: 0 auto;
	padding-top: 48px;
}
.baok_top h2{
	text-align: center;
	font-size: 34px;
	margin-bottom: 33px;
}
.baok_content{
	display: flex;
	justify-content: center;
}
.baok_package_box{
	width: 175px;
	height: 177px;
	background: url(../img/wcy_move_baobg.png);
	position: relative;
}
.baok_package{
	width: 138px;
	height: 138px;
	position: relative;
	overflow: hidden;
}
.baok_img1{
	position: absolute;
	left: 0;
	top: 0;
	transition: 0.5s;
}
.baok_img2{
	position: absolute;
	left: 138px;
	top: 0;
	transition: 0.5s;
}
.baok_package_box:hover>.baok_package>.baok_img1{
	left: -138px;
	transition: 0.5s;
}
.baok_package_box:hover>.baok_package>.baok_img2{
	left: 0;
	transition: 0.5s;
}
.baok_package_zi{
	position: absolute;
	top: 91px;
	left: 46px;
}


/* 中间的手机 */
.zjsj{
	height: 853px;
	background: url(../img/wcy_move_zzdabg.jpg) center;
}
.zjsj_box{
	display: flex;
	justify-content: center;
	height: 734px;
	padding-top: 58px;
}
/* 左侧ul */
.zjsj_box_ul{
	display: block;
	position: relative;
	padding-top: 85px;
	padding-left: 0;
}
.zjsj_box_li,.zjsj_box_li2{
	width: 298px;
	height: 106px;
	position: relative;
	overflow: hidden;
}
.zjsj_box_li{
	padding: 12px 34px 13px 12px;
}
.zzbt1{
	position: relative;
	border: 1px solid #626262;
	height: 86px;
	z-index: 2;
}
.zzxb{
	height: 145px;
	width: 44px;
	padding-top: 19px;
	position: absolute;
	left: 30px;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: 0.5s;
	z-index: 2;
}
.zjsj_box_li:hover>.zzbt1>.zzxb,.zjsj_box_li2:hover>.zzbt1>.zzxb{
	top: -80px;
	transition: 0.5s;
}
.zzbt1_1{
	width: 250px;
	height: 66px;
	padding: 16px 10px 0 84px;
	z-index: 2;
}
.zzbt1_1 span{
	font-size: 16px;
	color: #fff;
	line-height: 26px;
}
.zzbt1_1 p{
	color: #b0b7b9;
	line-height: 24px;
}
.zjsj_box_li:hover>.zzbt1>.zzbt1_1>p,.zjsj_box_li2:hover>.zzbt1>.zzbt1_1>p{
	color: #fff;
}
.zjsj_box_li_img{
	position: absolute;
	left: -298px;
	top: 0;
	transition: 0.5s;
}
.zjsj_box_li:hover>.zjsj_box_li_img{
	left: 0;
	transition: 0.5s;
}

/* 手机主体 */
.zjsj_phone_box{
	width: 358px;
	height: 734px;
	padding: 94px 24px 0;
	margin: 0 41px;
	background: url(../img/wcy_move_sjlk.png);
}
.zjsj_phone{
	height: 549px;
	background: url(../img/wcy_move_zsjbg.jpg)
}
.zsjnr{
	width: 310px;
	height: 463px;
	padding: 68px 16px 0 40px;
}
.zsjnr h2{
	font-size: 36px;
	color: #fffeff;
	line-height: 48px;
	margin: 10px 0 0;
}
.zznr_box{
	width: 254px;
	height: 223px;
	padding-top: 19px;
}
.zznr_box p{
	color: #fff;
	line-height: 34px;
	text-indent: 20px;
	margin-bottom: 0;
	transition: 0.5s;
}
.zznr_box p:hover{
	text-indent: 30px;
	transition: 0.5s;
}
.zxbj{
	display: block;
	width: 167px;
	height: 43px;
	border-radius: 22px;
	margin: 0 auto;
	background-color: #fff;
	color: #0086ae;
	font-size: 22px;
	overflow: hidden;
	position: relative;
}
.zxbj_box{
	position: absolute;
	top: 0;
	transition: 0.5s;
}
.zxbj_box span{
	display: block;
	width: 167px;
	height: 43px;
	font-size: 22px;
	line-height: 43px;
	color: #0086ae;
	text-align: center;
}
.zxbj_box:hover{
	top: -43px;
	transition: 0.5s;
}

/* 右侧ul */
.zjsj_box_li2{
	padding: 12px 12px 12px 34px;
}
.zjsj_box_li_img2{
	position: absolute;
	top: 0;
	right: -298px;
}
.zjsj_box_li2:hover>.zjsj_box_li_img2{
	right: 0;
	transition: 0.5s;
}


/* 描述介绍 */
.presentation{
	clear: both;
	overflow: hidden;
}
.presentation_left,.presentation_right{
	width: 50%;
	height: 440px;
	position: relative;
}
.presentation_right_content{
	padding: 70px 0 0 70px;
	width: 560px;
}
.presentation_right_content h2{
	font-size: 36px;
	line-height: 52px;
	color: #29a9ce;
}
.presentation_right_content span{
	display: block;
	padding: 18px 0 30px;
	font-size: 16px;
	line-height: 30px;
	color: #383838;
}
.advisory{
	display: block;
	width: 145px;
	height: 38px;
	position: relative;
	background: url(../img/wcy_move_zxbg2.png);
	overflow: hidden;
	font-size: 18px;
	line-height: 38px;
	text-align: center;
	color: #42a8cd;
}
.advisory_box p{
	width: 145px;
	height: 38px;
}
.advisory_box{
	position: absolute;
	top: 0;
	transition: 0.5s;
}
.advisory_box:hover{
	top: -38px;
	transition: 0.5s;
	color: #42a8cd;
}
.bg_color_one{
	background: #d9eff5;
}


/* 案例作品 */
.production_top{
	text-align: center;
}
.production_content{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.production_content_box{
	width: 20%;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.production_content_box_img{
	width: 100%;
	transition: 0.5s;
}
.screen{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background: rgba(0, 0, 0, .5);
	display: none;
	transition: 0.5s;
}
.designation{
	width: 100%;
	height: 56px;
	position: absolute;
	background: #000;
	bottom: -60px;
	color: #fff;
	line-height: 56px;
	text-indent: 20px;
	transition: 0.5s;
}
.production_content_box_img_left{
	position: absolute;
	left: -20%;
	top: 25%;
	z-index: 10;
}
.production_content_box_img_rigth{
	position: absolute;
	right: -20%;
	top: 32%;
	z-index: 10;
}
.production_content_box:hover .production_content_box_img{
	transition: 0.5s;
	transform: scale(1.1)
}
.production_content_box:hover .screen{
	display: block
}
.production_content_box:hover .designation{
	bottom: 0;
	transition: 0.5s;
}
.production_content_box:hover .production_content_box_img_left{
	left: 41%;
	transition: 0.5s;
	
}
.production_content_box:hover .production_content_box_img_rigth{
	right: 45%;
	transition: 0.5s;
	
}
.read_more{
	padding: 38px 0 65px;
	text-align: center;
}
.read_more_box{
	width: 164px;
	height: 40px;
	margin: 0 auto;
	background: url(../img/wcy_move_rdbg.png);
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.read_more_box_span{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	transition: 0.5s;
}
.read_more_box:hover .read_more_box_span{
	top: -40px;
	transition: 0.5s;
}



/* 尾部 */
.footer{
	padding: 52px 0;
	background: #ebebeb;
}
.footer_logo{
	text-align: center;
}
.footer_text{
	padding: 14px 0 26px;
	text-align: center;
	line-height: 26px;
	font-size: 12px;
	color: #484848;
}
.footer_text a{
	padding: 0 5px;
	color: #484848;
}
.footer_text a:hover{
	color: #484848;
}
.footer_contact{
	position: relative;
}
.footer_phone{
	position: relative;
	margin: 0 auto;
	width: 340px;
	height: 50px;
	background: #fff;
	background-image: url(../img/wcy_move_fo_tel2.png);
	border-radius: 25px;
}
.footer_phone_img1{
	margin-left: 10px;
	z-index: 10;
}
.footer_phone_img1:hover{
	animation: scale 1s infinite;
}
@keyframes scale{
	0%{
		transform: scale(1)
	}
	50%{
		transform: scale(1.2)
	}
	100%{
		transform: scale(1)
	}
}