.retrieve-password{
	width: 332px;
	height: 39px;
	margin:20px auto;
	cursor: pointer;
	border-radius: 5px
}
.find-mobile{
	border: 1px solid #4289dc;
	color: #4289dc;
	line-height: 39px
}
.find-mobile:hover{
	background-color: #4289dc;
	color: #fff
}
.mail-find{
	border: 1px solid #ccc;
	line-height: 39px
}
.mail-find:hover{
	background-color: #EFF2F7;
}
.get-back{
	margin-top: 38px;
	color:#727f8f;
}
#retrieve-one{
 
}
#retrieve-two{
	display:none; 
}
#retrieve-three{
	display:none;
}