body{
    padding-top: 90px;
}
.zll_img{
     height: 99%;
}
.zll_navbar{
    margin: 0;
    padding: 0;
    padding-top: 15px;
}
.zll_nav{
    background-color: #fff;
}
.zll_div{
    background-color: #000;
}
