*{
    margin: 0;
    padding: 0;
}
.lj-header-bg {
    background-image: url(../img/lj_lxt_bg.jpg);
    height: 380px;
    width: 100%;
    overflow: hidden;
}
.lj-nav-height {
    height: 84px;
}
.navbar {
    height: 80px;
}
.nav>li>a {
    text-decoration: none;
    font-size: 16px;
    line-height: 34px;
    color: #fff;
    width: 93px;
    height: 34px;
    display: block;
    text-align: center;
}
.nav>li>a:hover {
    border: 2px solid #fff;
    border-radius: 20px;
}
.lj-lk {
    overflow: hidden;
}
.nav-navbar {
    margin: 23px auto;
    padding-right: 60px;
    overflow: hidden;
}
.lj-header-img {
    background-image: url(../img/lj_lx_con1.png);
    height: 55px;
    width: 358px;
}
.lj-header-txt {
    line-height: 26px;
    font-size: 16px;
    color: #ffffff;
    padding-top: 30PX;
}
.lj-header-kong {
    height: 100px;
}
.lj-wen-txt {
    font-size: 24px;
    color: #000;
    padding: 44px 0 32px;
}
.lj-tab {
    width: 35px;
    height: 35px;
    background: url(../img/lj-tob.png);
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 100%
}
.lj-foot-height {
    height: 615px;
}
.lj-foot-map {
    height: 615px;
    background-image: url(../img/lj_map.png);
}
.lj-footer-bgcolor {
    background-color: #ebebeb;
}
.lj_tel2{
 position: relative;
 background-color: #ffffff;
 border-radius: 25px;
}
.lj-footer-dh {
    position: absolute;
    top:0;
    left: 21px;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: #009ACD;
}
.flat {
    float: left;
}
.lj-footer-bgcolor>div>a {
    color: #484848;
    font-size: 12px;
    
}
.lj-footer-center {
    width: 470px;
    margin: 0 auto;
}
.lj-mg {
    margin-left: 10px;
}