body ,html, a, p ,div, h1 ,h2, h3, h4 ,h5 ,h6 ,img,input ,button ,ul ,ol ,li ,form ,span, i{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
    vertical-align: baseline;
}
body{
    width: 100%;
    height: 100%;
    font-weight: 300;
    font-size: 14px;
    background-color: #eef0f3;
    font-family: "微软雅黑";
    vertical-align: baseline;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
img{
    border: none;
}
input{
    outline: none;
}
button{
    border: none;
}
.fl{
    float: left;
}
.fr{
    float:right;
}
.flex{
    display: flex;
}
.wgpclear{
    clear: both;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.wrap{
    width: 74.5%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
.wgp_webone_box{
    width: 100%;
    height: 64px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* position: relative; */
    
}
.wgp_webone_wrap{
    /* width: 1293px; */
    height: 64px;
    margin: 0 auto;
    line-height: 64px;
    z-index: 5;
}
.wgp_logo{
    display: inline-block;
    margin-top: 10px;
}
.wgp_webone_wrap ul{
   /* width: 100%;
   height: auto; */
   margin-left: 55px;
   position: relative;
}
.wgp_webone_wrap ul li{
    width: 84px;
    float: left;
    
}
.wgp_webone_wrap ul li a{
    font-size: 15px;
    color: #273444;
}
.wgp_webone_imgone{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding-right: 20px;
}
.wgp_webone_imgtwo{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    padding-right: 5px;
}
.wgp_webone_imgthree{
    width:14px;
    height: 14px;
    vertical-align: middle; 
    padding-right: 25px;
}
.wgp_webtwo_warp{
    width: 100%;
    height: 126px;
    background: #fff;
    margin-top: 65px;
}
.wgp_webtwo_step{
    width: 316px;
    height: 56px;
    background:#4289db;
    border-radius: 5px;
    /* padding: 20px 0 0 0; */
    margin-top: 35px;
    line-height: 56px;
    margin-right: 15px;
}
.wgp_webtwo_step p{
    font-size: 26px;
    color: #fff;
    font-weight: 500;
    margin-left: 20px;
}
.wgp_webtwo_color p{
    font-size: 26px;
    color: #fff;
    font-weight: 500;
    margin-left: 20px;
}
.wgp_webtwo_imgone{
    width: 13px;
    height: 56px;
    margin-left: 20px;
}
.wgp_webtwo_step span{
    font-size: 13px;
    color: #fff;
    margin-left: 20px;
}
.wgp_webtwo_color{
    background:rgba(137,150,166,.5);
}
.wgp_help{
    width: 85px;
    height: 125px;
    background: #2c3135;
    position: absolute;
    top: 65px;
    left: 225px;
    border-radius: 5px;  
    color: #fff;
    text-align: center;
    line-height: 42px;
    display: none;
}
.wgp_help_onep{
    border-bottom: 1px solid #41474c;
}
.wgp_inform_box{
    width: 300px;
    height: 115px;
    background: #fff;
    position: absolute;
    right: 100px;
    top:65px;
    overflow: scroll;
    display: none;
}
.wgp_inform_box p {
    border-bottom: 1px solid #f8f7f4;
    line-height: 50px;
}
.wgp_inform_box p a{
    font-size: 12px;
    color: #000;
    margin-left: 20px;
}
.wgp_inform_box p span{
    font-size: 12px;
    color: #000;
    float: right;
    margin-right: 15px;
}
.wgp_inform_box>span{
    display: block;
    font-size: 12px;
    color: #000;
    margin-left: 50px;
    line-height: 45px;
}
.wgp_per_box{
    width: 180px;
    height: 250px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    position: absolute;
    top: 65px;
    right: 5px;
    z-index: 5555;
    display: none;
}
.wgp_per_box p{
    font-size: 14px;
    color: #000;
    line-height:41px;
    text-align: center;
}
.wgp_webthree_box{
    width: 100%;
    height: 55px;
    background: #fff;
    position:sticky;
    top:64px;
    left: 0;
    right: 0;
}
/* .wgp_webthree_cone{
    position: fixed;
    top:65px;
    left: 0;
} */
.wgp_webthree_onep{
    width: 105px;
    height: 40px;
    border-bottom: 5px solid #4289db;
    margin-top: 10px;
    position: relative;
    
}
.wgp_webthree_onep a{
    padding-right: 5px;
    font-size: 20px;
    color: #979fa8;
}
.wgp_webthree_onep span{

    font-size: 18px;
    color: #4289db;
    position: absolute;
    right: 0;
    top:2px;
    
}
.wgp_webthree_twop{
    width: 100px;
    height: 40px;
    /* border-bottom: 5px solid #4289db; */
    margin-top: 10px;
    margin-left: 50px;
    
}
.wgp_webthree_twop a{
    padding-right: 5px;
    font-size: 20px;
    color: #979fa8;
}
.wgp_webthree_twop span{

    font-size: 18px;
    color: #4289db
}
.wgp_webthree_btn{
    width: 84px;
    height: 35px;
    border-radius: 5px;
    background: #8996a6;
    color: #fff;
    box-shadow: 0 3px 3px rgba(45,51,56,.2);
    margin-top: 5px;
    margin-right: 15px;
}
.bas{
    height: 1000px;
}
.wgp_table{
    width: 730px;
    /* border: 1px solid grey; */
    border-collapse: separate;
    border-spacing: 0;
    /* box-sizing: border-box; */
    display: table;
    
}
.wgp_table tr th{
    color: #2d3238;
    font-weight: 500;
    padding:10px;
    border-bottom:1px solid hsla(212,9%,63%,.2);
    border-top:1px solid hsla(212,9%,63%,.2);
}
.wgp_table thead{
    width: 730px;
    height: 51px;
    background:#f2f5f7;
}
.wgp_table thead tr th:nth-child(1){
    width: 84px;
    border-left:1px solid hsla(212,9%,63%,.2);
}
.wgp_table thead tr th:nth-child(2){
    width: 112px;
    border-left:1px solid hsla(212,9%,63%,.2);
}
.wgp_table thead tr th:nth-child(3){
    border-left:1px solid hsla(212,9%,63%,.2);
    border-right:1px solid hsla(212,9%,63%,.2);
}
.wgp_table tbody{
    background: #fff;
    text-align: center;
}
.wgp_table tbody tr td{
    padding:20px;
}
.wgp_table tbody tr td {
    color: #2d3238;
    font-weight: 500;
}
#wgp_tab_inpone{
    /* vertical-align: middle; */
    float: right;
    margin-top: 4px;
}
.wgp_trone td:nth-child(2){
    border-left:1px solid hsla(212,9%,63%,.2);
}
.wgp_trone td:nth-child(3){
    border-left:1px solid hsla(212,9%,63%,.2);
    border-right:1px solid hsla(212,9%,63%,.2);
}
.wgp_table input {
    width: 14px; 
    height: 14px;
    vertical-align: middle;
}
.wgp_trone td:last-child label{
    float: left;
    padding-right: 15px;
}
#wgp_tab_inpfive{
    float: right;
    margin-top: 4px;
}
.wgp_trtwo td:nth-child(1){
    border-left:1px solid hsla(212,9%,63%,.2);
    border-top:1px solid hsla(212,9%,63%,.2);
    border-bottom:1px solid hsla(212,9%,63%,.2);
}
.wgp_trtwo{
    background: rgba(221,227,235,.2)
}
.wgp_trtwo td:last-child label{
    float: left;
    padding-right: 15px;
}
.wgp_trtwo td:nth-child(2){
    border:1px solid hsla(212,9%,63%,.2);
    
}
.wgp_uzi_sm{
    margin-top: 10px;
}
#wgp_tab_inpones{
    float: right;
    margin-top: 4px;
}
.wgp_trone td:nth-child(1){
    border-left:1px solid hsla(212,9%,63%,.2);
}
#wgp_tab_inpfive1{
    float: right;
    margin-top: 4px;
}
.wgp_tabmove{
    float: right;
    margin-top: 4px;  
}
.wgp_basic{
    border-bottom: 1px solid hsla(212,9%,63%,.2);
}
.wgp_adv{
    border-bottom:1px solid hsla(212,9%,63%,.2); 
}
.wgp_comm{
    border-bottom:1px solid hsla(212,9%,63%,.2); 
}
.wgp_soc{
    border-bottom:1px solid hsla(212,9%,63%,.2); 
}
.wgp_yw{
    border-top: 1px solid hsla(212,9%,63%,.2); 
}
.wgp_change span{
    width: 60px;
    height: 50px;
    display:block ;
}
.wgp_change input{
    margin-top: 19px;
}
.wgp_change_one span {
    display: block;
    width: 65px;
}
.wgp_change_one input{
    margin-top: 13px;
}
.wgp_change_two span{
    width: 65px;
    display: block;
}
.wgp_change_two  input{
    margin-top: 13px;
}
tfoot tr th{
    border: 1px solid hsla(212,9%,63%,.2);  
}
tfoot tr th button{
    padding: 8px 15px;
    background: #4289db;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 3px 3px rgba(45,51,56,.2);
    margin-right: 20px;
}
.wgp_btn{
    width: 445px;
    height: 57px;
    background: #8796a8;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    border: none;
    outline: none;
    cursor: not-allowed;
}
.wgp_webfive_box{
    width: 100%;
    height: 56px;
    background: #1e2c3c;
    margin-top: 45px;
    line-height: 56px;
}
.wrap_two{
    /* width: 1115px; */
    padding: 0 20px;
    margin: 0 auto;
}
.wgp_webfive_box p{
    font-size: 22px;
    font-family: "微软雅黑"
}
.wgp_webfive_box span{
    color: #8796a8;
}
.wgp_help{
    width: 85px;
    height: 125px;
    background: #2c3135;
    position: absolute;
    top: 65px;
    left: 225px;
    border-radius: 5px;  
    color: #fff;
    text-align: center;
    line-height: 42px;
    display: none;
}

.wgp_help_onep{
    border-bottom: 1px solid #41474c;
}
.wgp_inform_box{
    width: 300px;
    height: 115px;
    background: #fff;
    position: absolute;
    right: 100px;
    top:65px;
    overflow: scroll;
    display: none;
}
.wgp_inform_box p {
    border-bottom: 1px solid #f8f7f4;
    line-height: 50px;
}
.wgp_inform_box p a{
    font-size: 12px;
    color: #000;
    margin-left: 20px;
}
.wgp_inform_box p span{
    font-size: 12px;
    color: #000;
    float: right;
    margin-right: 15px;
}
.wgp_inform_box>span{
    display: block;
    font-size: 12px;
    color: #000;
    margin-left: 50px;
    line-height: 45px;
}
.wgp_per_box{
    width: 180px;
    height: 250px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    position: absolute;
    top: 65px;
    right: 5px;
    display: none;
}
.wgp_per_box p{
    font-size: 14px;
    color: #000;
    line-height:41px;
    text-align: center;
}
.wgp_perbor_box{
    border-bottom: 2px solid #f7f6f3;
}
.wgp_qq{
    width: 115px;
    height: 42px;
    background: #0969c2;
    position: absolute;
    right: 50px;
    bottom:40px;
    border-radius: 100px;
    line-height: 42px;
    position: fixed;;
    
}
.wgp_qq img{
    width: 25px;
    height: 30px;
    margin-left: 12px; 
    vertical-align: middle
    
}
.wgp_qq a{
    color: #fff;
    font-size: 14px;
}
.wgp_add{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: none;
    z-index: 555;
}

.wgp_ilove{
   background:#4389d9
}
.wgp_txts{
    color: #fff;
}
.wgp_btn a{
    display: none;
 }
 
 
 
 @media screen and (min-width:1200px) {
    
}
@media screen and (min-width:992px) and (max-width: 1199px) {


}
@media screen and (min-width: 768px) and (max-width:991px ){


}

@media screen and (max-width: 768px){
    .wgp_logo{
        width: 100px;
        margin-top: 15px;
    }
    .wgp_webone_karsa{
        display: none;
    }
    .wgp_webone_wrap ul{
        margin:0;
    }
    .wgp_webone_wrap ul li{
        width: 40px;
     }
     .wgp_webtwo_step{
         width:80px;
         
     }

}






