.wgp_webthree_box{
    width: 100%;
    height: 100%;
    position: relative;
}
.wgp_webthree_box video{
    width: 100%;
    /* height: 100%; */
    position: absolute;
    /* object-fit: cover; */
    left: 0;
    top:0;
}
.wgp_webthree_masking{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.3);
    position: absolute;
    left: 0;
    top: 0;
    
}
.wgp_webthree_imgone img{
    width: 15%;
    z-index: 5556;
    position: absolute;
    right: 42%;
    top: 13%;
    /* display: none; */
    opacity: 0;
}
.wgp_webthree_ballbox{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 9%;
    display:flex;
}
.wgp_webthree_ball{
    width: 9%;
    height: 22%;
    background-image: url(../img/wgpball.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    /* margin-right:216px; */
    opacity: 0;
    /* margin-left:216px; */
    left: 100%;
    top: 50%;
    
}
.wgp_webthree_movea{
    left:100%;
}
.wgp_webthree_moveb{
    left:100%;
}
.wgp_webthree_movec{
    left:100%;
}
.wgp_webthree_ball img{
    width: 100%;
}
.wgp_webthree_move{
    position: absolute;  
    left: 10%;
}
.wgp_webthree_inlinebox{
    width: 100%;
    position: absolute; 
    left: 0;
    top: 60%;
    display: flex;
}

.wgp_webthree_inline{
    width: 0;
    height: 1px;
    background: #adadad;
    margin-left: 9%;
    position: absolute;
    left: 9%;
}
.wgp_webthree_buff{
    width: 0;
    height: 1px;
    background: #adadad;
    margin: 0;
    left: 0;
}
.wgp_webthree_movethree{
    left: 33.8%;
}
.wgp_webthree_movefour{
    left: 58.6%;
}
.wgp_webthree_buffmove{
    width: 0;
    height: 1px;
    background: #adadad;;
    left: 83.5%;
}
.wgp_webthree_txt{
    width: 100%;
    position: relative;
}
.wgp_webthree_txtone{
    width: 20%;
    border-left: 1px solid #666;
    padding: 15px;
    position: absolute;
    left:5.5%;
    top: 450px;
    opacity: 0;
}
.wgp_webthree_pone{
    font-size: 0.8%;
    color: #f0bf5f;
    text-align: left;
}
.wgp_webthree_ptwo{
    color: #fff;
    font-size: 0.8%;
    text-align: left;
}
.wgp_webthree_moveones{
    left:30.7%;
}
.wgp_webthree_movetwos{
    left:55%;
}
.wgp_webthree_movethrees{
    left:78.3%;
}